<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{{ "我的关注" }}
</title>
<style>
.div-a{ float:left;width:50%;background-color: #777;font-size: 50px;}
.div-b{ float:left;width:50%;background-color: #666;font-size: 50px;}
</style>
<script>
  window._bd_share_config = {
    common : {
      bdText : '{{ blog.title }}',
      bdDesc : '{{ blog.body }}',
      bdUrl : '{{ blog.url }}',
    },
    share : [{
      "bdSize" : 16
    }],
    slide : [{
      bdImg : 0,
      bdPos : "right",
      bdTop : 100
    }],
    image : [{
      viewType : 'list',
      viewPos : 'top',
      viewColor : 'black',
      viewSize : '16',
      viewList : ['qzone','tsina','huaban','tqq','renren']
    }],
    selectShare : [{
      "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
    }]
  }
  with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
{% load staticfiles %}
<link rel="shortcut icon" href='{% static 'picture/lks.ico' %}' />
<link type="text/css" rel="stylesheet" href="{% static 'css/topbar.css' %}"></link>
</head>


<body>
<div class="page">
<div class="topbar_wrapper">
  <div class = "yellow-wrapper">
    <div class= "yellow animate"></div>
  </div>
</div>
</div>
<p>title</p>
    {% block content %}{% endblock %}
</body>
</html>
